*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    font-size: large;
    
}
.header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
}
a{
    color: black;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    font-size: 30px;
    padding-right: 10rem;
}
#mainpara{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 15px;
}
.header1{
    display: none;
}
.mainimage{
    width: 10%;
   margin-left: 50rem;
   padding-top: 4rem;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #main{
        font-size: 50px;
    }
    #mainpara{
        font-size: 30px;
    }
    .header1{
        display: flex;
    }
    #menu{
        display: none;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}